---
import type iProjectsItem from "../core/interfaces/ProjectsItem.interface.ts";
import type iTechTag from "../core/interfaces/TechTag.interface.ts";
import TailwindCssIcon from "./icons/TechTagsIcons/TailwindCssIcon.astro";
import AngularIcon from "./icons/TechTagsIcons/AngularIcon.astro";
import NodeIcon from "./icons/TechTagsIcons/NodeIcon.astro";
import SequelizeIcon from "./icons/TechTagsIcons/SequelizeIcon.astro";
import MySQLIcon from "./icons/TechTagsIcons/MySQLIcon.astro";
import ExpressIcon from "./icons/TechTagsIcons/ExpressIcon.astro";
import MongodbIcon from "./icons/TechTagsIcons/MongodbIcon.astro";
import AstroIcon from "./icons/TechTagsIcons/AstroIcon.astro";
import jQueryIcon from "./icons/TechTagsIcons/jQueryIcon.astro";
import VercelIcon from "./icons/TechTagsIcons/VercelIcon.astro";
import SassIcon from "./icons/TechTagsIcons/SassIcon.astro";
import GitHub from "./icons/GitHub.astro";
import GitLab from "./icons/GitLab.astro";
import TypeScriptIcon from "./icons/TechTagsIcons/TypeScriptIcon.astro";
import JavaScriptIcon from "./icons/TechTagsIcons/JavaScriptIcon.astro";

const TAGS: any = {
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-sky-300/20 dark:bg-cyan-500/30 dark:text-white text-cyan-600",
    icon: TailwindCssIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-sky-300/20 dark:bg-blue-500/40 dark:text-white text-blue-500",
    icon: TypeScriptIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-300/30 dark:bg-yellow-300/30 dark:text-white text-black",
    icon: JavaScriptIcon,
  },
  ANGULAR_15: {
    name: "Angular 15",
    class: "text-black bg-white dark:bg-red-500/30 dark:text-white",
    icon: AngularIcon,
  },
  ANGULAR_17: {
    name: "Angular 17",
    class: "bg-gradient-to-r from-rose-500 via-fuchsia-500 to-purple-800 text-transparent bg-clip-text dark:bg-white",
    icon: AngularIcon,
  },
  JQUERY: {
    name: "Angular 17",
    class: "bg-white",
    icon: jQueryIcon,
  },
  SASS: {
    name: "Sass",
    class: "bg-rose-300/10 dark:bg-rose-500/20 text-[#bf4080]",
    icon: SassIcon,
  },
  ASTRO: {
    name: "Astro 4.0",
    class: "bg-black/80 text-white dark:bg-black/60",
    icon: AstroIcon,
  },
  VERCEL: {
    name: "Vercel",
    class: "bg-black/80 text-white dark:bg-black/60",
    icon: VercelIcon,
  },
  NODE: {
    name: "Node.js",
    class: "bg-green-400/20 text-green-800 dark:text-white",
    icon: NodeIcon,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-green-400/20 text-green-800 dark:text-white",
    icon: MongodbIcon,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-black text-white",
    icon: ExpressIcon,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-blue-500/10 dark:bg-blue-400/20 dark:text-orange-400 text-orange-500",
    icon: MySQLIcon,
  },
  SEQUELIZE: {
    name: "Sequelize",
    class: "bg-blue-400/30 text-black dark:text-white",
    icon: SequelizeIcon,
  },
};

const PROJECTS: iProjectsItem[] = [
  {
    title: "BMOVIES",
    description:
      "Aplicación web de Angular 17, la cual tiene como objetivo mostrar las últimas películas en cartelera y las más populares con el fin de aprender a utilizar el Angular HTTPClient para realizar peticiones HTTP a la API de TMDB, practicar el uso de observables para el manejo de las respuestas, así como en general hacer uso de la reciente versión de Angular 17 con sus nuevos cambios en sintaxis, estructura y manejo del framework.",
    link: "https://movies-app-seven-omega.vercel.app/",
    github: "https://github.com/Yayo22124/MoviesApp.git",
    image: "img/projects/bmovies_mockup.webp",
    tags: [TAGS.TAILWIND, TAGS.ANGULAR_17, TAGS.TYPESCRIPT, TAGS.SASS, TAGS.VERCEL],
  },
  {
    title: "Angular Messenger",
    description:
      "Aplicación siguiendo la interfaz de Messenger, desarrollada en el framework Angular 15 con el fin de practicar el uso de las directivas básicas como ngIf, ngClass y ngFor, así como algunos componentes de Angular Material como el SnackBar para mostrar notificaciones y manejar estados de los componentes, haciendo una interfaz reactiva.",
    link: "https://angular-messenger.vercel.app/chats/home",
    github: "https://github.com/Yayo22124/Angular-Messenger.git",
    image: "img/projects/angular_messenger_mockup.webp",
    tags: [TAGS.TAILWIND, TAGS.ANGULAR_15, TAGS.TYPESCRIPT, TAGS.SASS, TAGS.VERCEL],
  },
  {
    title: "Angular App Messages",
    description:
      "Aplicación maquetada usando un diseño de Figma para simular una pequeña aplicación para mandar mensajes usando Angular 17. Esta apliación tiene el objetivo de poder enviar y almacenar mensajes en un contexto de ideas de proyectos, para esto se usó el LocalStorage, componentes de Angular Material, animaciones de TailwindCSS Animated y formularios reactivos, así como servicios de angular para guardar los mensajes.",
    link: "https://app-messages.vercel.app/home",
    gitlab: "https://gitlab.com/Yayo22124/AppMessages.git",
    image: "img/projects/angular_app_messages_mockup.webp",
    tags: [TAGS.ANGULAR_17, TAGS.TAILWIND, TAGS.TYPESCRIPT, TAGS.SASS, TAGS.VERCEL],
  },
  {
    title: "Astro Portfolio",
    description:
      "Mi portafolio de desarollador web para presentarme a mi y mis proyectos que he creado para aprender a dominar tecnologías. Este proyecto es actualmente responsivo y muy eficiente contando con el excelente framework para sitios estáticos de Astro 4.0, con el cual la eficiencia y carga no son un problema, contando además con optimización de imágenes usando la plataforma Squoosh y para estilizar se utilizó TailwindCSS.",
    link: "https://yayo22124.vercel.app",
    github: "https://github.com/Yayo22124/Portfolio.git",
    image: "img/projects/astro_portfolio_mockup.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.TYPESCRIPT, TAGS.VERCEL],
  },
  {
    title: "Agéndalo",
    description:
      "Proyecto universitario para desarrollar una aplicación con el objetivo de funcionar como proyecto de estadía. Desarrollada en Angular 15, Angular Material, TailwindCSS y hace uso de la librería Angular HTTPClient para comunicarse con la API REST creada en Node.js usando Express.js, Sequelize y MySQL.",
    image: "img/projects/agendalo_mockup.webp",
    tags: [TAGS.ANGULAR_15, TAGS.TAILWIND, TAGS.NODE, TAGS.JAVASCRIPT, TAGS.EXPRESS, TAGS.MYSQL, TAGS.SEQUELIZE, TAGS.VERCEL],
  },
];
---

{
  PROJECTS.map((project) => (
    <article class="dark:bg-gray-500/10 bg-white/10 shadow-xl border border-sky-300/20 backdrop-blur-xl p-3 rounded-lg mb-8">
      <div class="flex flex-wrap items-center justify-center md:justify-between lg:justify-between gap-1 ">
        <h3 class="text-2xl text-balance lg:text-3xl md:text-3xl  font-bold text-sky-400/90 mb-2">
          {project.title}
        </h3>
        <div class="flex gap-2 [&>a]:border [&>a]:border-sky-500/70 [&>a]:shadow-xl dark:[&>a]:bg-sky-500/10 [&>a]:bg-sky-500/20 [&>a]:flex [&>a]:gap-4 [&>a]:text-base [&>a]:items-center [&>a]:justify-center [&>a]:backdrop-blur-md [&>a]:mb-2 [&>a]:py-1 [&>a]:px-2 md:[&>a]:py-2 md:[&>a]:px-2.5 [&>a]:rounded-xl">
          {project.link && (
            <a
              href={project.link}
              class="ease-in-out dark:hover:bg-white/10 hover:bg-sky-300/20 dark:hover:border-sky-400 hover:border-sky-300 delay-250 hover:transition-all hover:scale-105"
            >
              <VercelIcon class="size-5 text-white" /> <span>Visitar</span>
            </a>
          )}
          {project.github && (
            <a
              href={project.github}
              class="ease-in-out dark:hover:bg-white/10 hover:bg-sky-300/20 dark:hover:border-sky-400 hover:border-sky-300 delay-250 hover:transition-all hover:scale-105"
            >
              <GitHub class="size-6 text-white" />
              <span>GitHub</span>
            </a>
          )}
          {project.gitlab && (
            <a
              href={project.gitlab}
              class="ease-in-out dark:hover:bg-white/10 hover:bg-sky-300/20 dark:hover:border-sky-400 hover:border-sky-300 delay-250 hover:transition-all hover:scale-105"
            >
              <GitLab class="size-6 text-white" />
              <span>GitLab</span>
            </a>
          )}
        </div>
      </div>
      <p class="text-lg mb-4 text-pretty">{project.description}</p>
      <ul class="flex flex-wrap gap-2 mb-5 items-center justify-center">
        {project.tags.map((tag) => (
          <li
            class={`flex font-medium items-center justify-center dark:shadow-inner dark:shadow-white/10 gap-2 text-xs  shadow-md py-1.5 px-2 rounded-2xl  ${tag.class}`}
          >
            <tag.icon class="size-5" />
            {tag.name}
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={project.image}
        alt={`Imágen del proyecto: ${project.title}`}
      />
    </article>
  ))
}
